html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

/* site specific classes */
body {
	margin: 0;
	padding: 0;
	font-family: 'Old Standard TT', serif;
	color: #444444;
}
.container {
	margin: 0 auto;
	max-width: 50em;
}
.boxstyle {
	border: none;
	box-shadow: inset 2px -2px 0 #333;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Vollkorn', serif;
}
/*li, p, input, button, label {
	font-family: 'Old Standard TT', serif;
}*/
p {
	line-height: 1.5em;
	text-rendering: optimizeLegibility;
}
/*h3 {
	color: #fff;
	background-color: #6083CE;
}*/
input[type="search"],
input[type="text"],
input[type="number"] {
	line-height: 2em;
	min-height: 2.5em;
	padding: 1px .5em;
	box-sizing: border-box;
}
button {
	background: #fff;
	cursor: pointer;
	padding: .5em;
}

/* utility classes */
.bg-fff {
	background: #fff;
}
.color-aaa {
	color: #aaa;
}
.hover-eee:hover {
	background: #eee;
}
.m-05e {
	margin: .5em;
}
.m-t-0 {
	margin-top: 0;
}
.m-b-0 {
	margin-bottom: 0;
}
.p-05e {
	padding: .5em;
}
.p-1e {
	padding: 1em;
}
.w-10 {
	width: calc(10% - 2px);
}
.w-90 {
	width: 90%;
}
.w-100 {
	width: 100%;
}
.pos-rel {
	position: relative;
}
.ul-none {
	list-style: none;
	padding: 0;
}
.italic {
	font-style: italic;
}
.abs-top {
	position: absolute;
	top: auto;
	left: 0;
}
.abs-inputright {
	position: absolute;
	top: 0;
	right: 10%;
	margin: .5em;
	color: #999;
}
.invis {
	display: none;
}
